---
- name: Install Jenkins
  hosts: localhost
  connection: local
  become: yes

  tasks:
    - name: Install Java (Dependency)
      apt:
        name: openjdk-17-jdk
        state: present
        update_cache: yes

    - name: Download Jenkins GPG key
      get_url:
        url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
        dest: /usr/share/keyrings/jenkins-keyring.asc
        mode: '0644'

    - name: Add Jenkins repository
      apt_repository:
        # The [signed-by=...] part is critical here
        repo: "deb [signed-by=/usr/share/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"
        state: present
        update_cache: yes

    - name: Install Jenkins
      apt:
        name: jenkins
        state: present

    - name: Start Jenkins
      systemd:
        name: jenkins
        state: started
        enabled: yes